<% include partials/header %>

  <div>

    <h1 class="ui inverted header" id="custom"> <%= stateName %> </h1>
  </div>


  <div class="chart" id="chart-benefits"></div>
  <div class="chart" id="chart-wellness-program"></div>
  <div class="chart" id="chart-anonymity"></div>
  <div class="chart" id="chart-leave"></div>
  <div class="chart" id="chart-mental-health-consequence"></div>
  <div class="chart" id="chart-mental-vs-physical"></div>

  <div class="stats">
  	<div id="benefits">
  		<div id="benefits-yes"><%= benefits.yes %></div>
  		<div id="benefits-no"><%= benefits.no %></div>
  		<div id="benefits-dontKnow"><%= benefits.dontKnow %></div>
  	</div>
    <div id="wellness-program">
      <div id="wellness-program-yes"><%= wellness_program.yes %></div>
      <div id="wellness-program-no"><%= wellness_program.no %></div>
      <div id="wellness-program-dontKnow"><%= wellness_program.dontKnows %></div>
    </div>
    <div id="anonymity">
      <div id="anonymity-yes"><%= anonymity.yes %></div>
      <div id="anonymity-no"><%= anonymity.no %></div>
      <div id="anonymity-dontKnow"><%= anonymity.dontKnow %></div>
    </div>
    <div id="leave">
      <div id="leave-veryEasy"><%= leave.veryEasy %></div>
      <div id="leave-somewhatEasy"><%= leave.somewhatEasy %></div>
      <div id="leave-somewhatDifficult"><%= leave.somewhatDifficult %></div>
      <div id="leave-veryDifficult"><%= leave.veryDifficult %></div>
      <div id="leave-dontKnow"><%= leave.dontKnow %></div>
    </div>
    <div id="mental-health-consequence">
      <div id="mental-health-consequence-yes"><%= mental_health_consequence.yes %></div>
      <div id="mental-health-consequence-no"><%= mental_health_consequence.no %></div>
      <div id="mental-health-consequence-dontKnow"><%= mental_health_consequence.dontKnow %></div>
    </div>
    <div id="mental-vs-physical">
      <div id="mental-vs-physical-yes"><%= mental_health_consequence.yes %></div>
      <div id="mental-vs-physical-no"><%= mental_health_consequence.no %></div>
      <div id="mental-vs-physical-dontKnow"><%= mental_health_consequence.dontKnow %></div>
    </div>
  </div>

<% include partials/footer %>