<% include partials/header %>

<h1 id="US">Select a State!</h1>

<div id="US-map"></div>

<div id="open-dropdown"><a>Or select from a dropdown.</a></div>

<div id="state-dropdown">
	<select id="state-dropdown-states">
		<option selected="selected" disabled>Select a State</option>
		<option value="/state/AL">Alabama</option>
		<option value="/state/AK">Alaska</option>
		<option value="/state/AZ">Arizona</option>
		<option value="/state/AR">Arkansas</option>
		<option value="/state/CA">California</option>
		<option value="/state/CO">Colorado</option>
		<option value="/state/CT">Connecticut</option>
		<option value="/state/DE">Delaware</option>
		<option value="/state/FL">Florida</option>
		<option value="/state/GA">Georgia</option>
		<option value="/state/HI">Hawaii</option>
		<option value="/state/ID">Idaho</option>
		<option value="/state/IL">Illinois</option>
		<option value="/state/IN">Indiana</option>
		<option value="/state/IA">Iowa</option>
		<option value="/state/KS">Kansas</option>
		<option value="/state/KY">Kentucky</option>
		<option value="/state/LA">Louisiana</option>
		<option value="/state/ME">Maine</option>
		<option value="/state/MD">Maryland</option>
		<option value="/state/MA">Massachusetts</option>
		<option value="/state/MI">Michigan</option>
		<option value="/state/MN">Minnesota</option>
		<option value="/state/MS">Mississippi</option>
		<option value="/state/MO">Missouri</option>
		<option value="/state/MT">Montana</option>
		<option value="/state/NE">Nebraska</option>
		<option value="/state/NV">Nevada</option>
		<option value="/state/NH">New Hampshire</option>
		<option value="/state/NJ">New Jersey</option>
		<option value="/state/NM">New Mexico</option>
		<option value="/state/NY">New York</option>
		<option value="/state/NC">North Carolina</option>
		<option value="/state/ND">North Dakota</option>
		<option value="/state/OH">Ohio</option>
		<option value="/state/OK">Oklahoma</option>
		<option value="/state/OR">Oregon</option>
		<option value="/state/PA">Pennsylvania</option>
		<option value="/state/RI">Rhode Island</option>
		<option value="/state/SC">South Carolina</option>
		<option value="/state/SD">South Dakota</option>
		<option value="/state/TN">Tennessee</option>
		<option value="/state/TX">Texas</option>
		<option value="/state/UT">Utah</option>
		<option value="/state/VT">Vermont</option>
		<option value="/state/VA">Virginia</option>
		<option value="/state/WA">Washington</option>
		<option value="/state/WV">West Virginia</option>
		<option value="/state/WI">Wisconsin</option>
		<option value="/state/WY">Wyoming</option>
	</select>
</div>

<div class="stats">
	<div class="AL"><%= AL %></div>
	<div class="AK"><%= AK %></div>
	<div class="AZ"><%= AZ %></div>
	<div class="AR"><%= AR %></div>
	<div class="CA"><%= CA %></div>
	<div class="CO"><%= CO %></div>
	<div class="CT"><%= CT %></div>
	<div class="DE"><%= DE %></div>
	<div class="DC"><%= DC %></div>
	<div class="FL"><%= FL %></div>
	<div class="GA"><%= GA %></div>
	<div class="HI"><%= HI %></div>
	<div class="ID"><%= ID %></div>
	<div class="IL"><%= IL %></div>
	<div class="IN"><%= IN %></div>
	<div class="IA"><%= IA %></div>
	<div class="KS"><%= KS %></div>
	<div class="KY"><%= KY %></div>
	<div class="LA"><%= LA %></div>
	<div class="ME"><%= ME %></div>
	<div class="MD"><%= MD %></div>
	<div class="MA"><%= MA %></div>
	<div class="MI"><%= MI %></div>
	<div class="MN"><%= MN %></div>
	<div class="MS"><%= MS %></div>
	<div class="MO"><%= MO %></div>
	<div class="MT"><%= MT %></div>
	<div class="NE"><%= NE %></div>
	<div class="NV"><%= NV %></div>
	<div class="NH"><%= NH %></div>
	<div class="NJ"><%= NJ %></div>
	<div class="NM"><%= NM %></div>
	<div class="NY"><%= NY %></div>
	<div class="NC"><%= NC %></div>
	<div class="ND"><%= ND %></div>
	<div class="OH"><%= OH %></div>
	<div class="OK"><%= OK %></div>
	<div class="OR"><%= OR %></div>
	<div class="PA"><%= PA %></div>
	<div class="RI"><%= RI %></div>
	<div class="SC"><%= SC %></div>
	<div class="SD"><%= SD %></div>
	<div class="TN"><%= TN %></div>
	<div class="TX"><%= TX %></div>
	<div class="UT"><%= UT %></div>
	<div class="VT"><%= VT %></div>
	<div class="VA"><%= VA %></div>
	<div class="WA"><%= WA %></div>
	<div class="WV"><%= WV %></div>
	<div class="WI"><%= WI %></div>
	<div class="WY"><%= WY %></div>
</div>


<% include partials/footer %>